body{
    background-color: #E1E7E4;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
}

h1{
    margin-top: 8px;
}

img{
    cursor: pointer;
}

#menu-opener{
    float: right;

}

aside{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
}


#menu-content{    /* Essa parte é a div onde está o menu(ul,li) */
    background-color: #CCC;
    width: 0px;
    height: 100vh;
    cursor: pointer;
    transition: all ease .5s;
}

ul{
    list-style: none;
    margin: 0px;
    padding-left:0px;
    width: 200px;
    margin-top: 15px;
}

li{
    text-align: left;
    color: #404040;
    font-size: 16px;
    padding: 10px 10px;
}

 #menu-content li:hover{
    background-color:#E1E7E4;
}

.menu-opened{         /*Essa classe serve pra fazer com que ao clicar no botão o menu aparece ou suma    */
    width: 200px !important; 
}

